Requirements

1. Create a react app named quiz-app using create-react-app - Done

Before making any change, create a branch feature/<branch-name>
For example: feature/landing-page
Try to give some kind of descriptive name to branch

2. Write what are the things that are required for a quiz app. 
   You can write anything here.
