Requirements:

1. Create a react app named quiz-app using create-react-app - Done

Before making any change, create a branch feature/<branch-name>
For example: feature/landing-page
Try to give some kind of descriptive name to branch

2. Write what are the things that are required for a quiz app. 
   You can write anything here.

* Create a Button component inside ./quiz-app/src/components that has 
props: label
should return: a button element with the label of ``label``

* import the Button component in the ./src/App.js file and compose 
it inside the return of App function. Test it on the browser.
